# Auto normalize line-endings

* text=auto encoding=UTF-8

# Alwats LF line-endings

*.sh text eol=lf

# Always CRLF line-endings

*.sln text eol=crlf
*.csproj text eol=crlf

# Diff settings

*.cs     diff=csharp text 
*.vb     text